node-red/aceleracao.json
[
    {
        "id": "312e52e92ecbc8ad",
        "type": "tab",
        "label": "Acelerador",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "56caf5e0f67dcadf",
        "type": "debug",
        "z": "312e52e92ecbc8ad",
        "name": "CSV",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 260,
        "wires": []
    },
    {
        "id": "9e62d2baadbe2701",
        "type": "mqtt in",
        "z": "312e52e92ecbc8ad",
        "name": "Local",
        "topic": "car/acelerador",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "427f6ba8812c7c25",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 260,
        "wires": [
            [
                "86bff799608f3e84",
                "499ed667dbee80bb"
            ]
        ]
    },
    {
        "id": "499ed667dbee80bb",
        "type": "function",
        "z": "312e52e92ecbc8ad",
        "name": "function 1",
        "func": "let dados = msg.payload;\nlet colunas = Object.keys(dados);\nlet tamanho = Object.values(dados)[0].length;\n\nfunction formatValor(val) {\n    if (typeof val === 'string') {\n        // Escapa aspas simples dentro do texto e envolve em aspas simples\n        return `'${val.replace(/'/g, \"''\")}'`;\n    }\n    if (val === null || val === undefined) {\n        return 'NULL';\n    }\n    return val;\n}\n\nlet linhas = [];\nfor (let i = 0; i < tamanho; i++) {\n    let valoresLinha = colunas.map(c => formatValor(dados[c][i]));\n    linhas.push(`(${valoresLinha.join(\", \")})`);\n}\n\nmsg.topic = `INSERT INTO \"sistema_veicular_acelerador\" (${colunas.map(c => `\"${c}\"`).join(\", \")}) VALUES ${linhas.join(\", \")};`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 260,
        "wires": [
            [
                "90e413f789d3aaca",
                "36fe3deaf4bc9806"
            ]
        ]
    },
    {
        "id": "86bff799608f3e84",
        "type": "debug",
        "z": "312e52e92ecbc8ad",
        "name": "ENTRADA MQTT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 140,
        "wires": []
    },
    {
        "id": "90e413f789d3aaca",
        "type": "debug",
        "z": "312e52e92ecbc8ad",
        "name": "SAÍDA FUNCTION",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 200,
        "wires": []
    },
    {
        "id": "36fe3deaf4bc9806",
        "type": "postgresql",
        "z": "312e52e92ecbc8ad",
        "name": "",
        "query": "{{{msg.topic}}}",
        "postgreSQLConfig": "03d702041ccd96af",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 510,
        "y": 260,
        "wires": [
            [
                "56caf5e0f67dcadf"
            ]
        ]
    },
    {
        "id": "427f6ba8812c7c25",
        "type": "mqtt-broker",
        "name": "porta 1884",
        "broker": "192.168.0.38",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "03d702041ccd96af",
        "type": "postgreSQLConfig",
        "name": "aceleracao",
        "host": "172.27.132.160",
        "hostFieldType": "str",
        "port": "8812",
        "portFieldType": "num",
        "database": "sistema_veicular_acelerador",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "admin",
        "userFieldType": "str",
        "password": "quest",
        "passwordFieldType": "str"
    }
]