node-red/freio.json
[
    {
        "id": "b3a01d2deeba412e",
        "type": "tab",
        "label": "Freio",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d89d9862b33833c6",
        "type": "debug",
        "z": "b3a01d2deeba412e",
        "name": "CSV",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 280,
        "wires": []
    },
    {
        "id": "e041ce6f66fc4da3",
        "type": "mqtt in",
        "z": "b3a01d2deeba412e",
        "name": "Local",
        "topic": "car/freio",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "427f6ba8812c7c25",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 50,
        "y": 280,
        "wires": [
            [
                "f80454335a7fd8ad",
                "c13dcc550e45a63f"
            ]
        ]
    },
    {
        "id": "c13dcc550e45a63f",
        "type": "function",
        "z": "b3a01d2deeba412e",
        "name": "function 4",
        "func": "let dados = msg.payload;\nlet colunas = Object.keys(dados);\nlet tamanho = Object.values(dados)[0].length;\n\nfunction formatValor(val) {\n    if (typeof val === 'string') {\n        // Escapa aspas simples dentro do texto e envolve em aspas simples\n        return `'${val.replace(/'/g, \"''\")}'`;\n    }\n    if (val === null || val === undefined) {\n        return 'NULL';\n    }\n    return val;\n}\n\nlet linhas = [];\nfor (let i = 0; i < tamanho; i++) {\n    let valoresLinha = colunas.map(c => formatValor(dados[c][i]));\n    linhas.push(`(${valoresLinha.join(\", \")})`);\n}\n\nmsg.topic = `INSERT INTO \"sistema_veicular_freio\" (${colunas.map(c => `\"${c}\"`).join(\", \")}) VALUES ${linhas.join(\", \")};`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 280,
        "wires": [
            [
                "ad3a96292d4c17b8",
                "a82cf45f39a25673"
            ]
        ]
    },
    {
        "id": "f80454335a7fd8ad",
        "type": "debug",
        "z": "b3a01d2deeba412e",
        "name": "ENTRADA MQTT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 160,
        "wires": []
    },
    {
        "id": "ad3a96292d4c17b8",
        "type": "debug",
        "z": "b3a01d2deeba412e",
        "name": "SAÍDA FUNCTION",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 220,
        "wires": []
    },
    {
        "id": "a82cf45f39a25673",
        "type": "postgresql",
        "z": "b3a01d2deeba412e",
        "name": "",
        "query": "{{{msg.topic}}}",
        "postgreSQLConfig": "3ee225c8743beb0d",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 490,
        "y": 280,
        "wires": [
            [
                "d89d9862b33833c6"
            ]
        ]
    },
    {
        "id": "427f6ba8812c7c25",
        "type": "mqtt-broker",
        "name": "porta 1884",
        "broker": "192.168.0.38",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3ee225c8743beb0d",
        "type": "postgreSQLConfig",
        "name": "freio",
        "host": "172.27.132.160",
        "hostFieldType": "str",
        "port": "8812",
        "portFieldType": "num",
        "database": "sistema_veicular_freio",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "admin",
        "userFieldType": "str",
        "password": "quest",
        "passwordFieldType": "str"
    }
]