node-red/proximidade.json
[
    {
        "id": "6edcf90890f75bd7",
        "type": "tab",
        "label": "Proximidade",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "751857f7ca93f999",
        "type": "debug",
        "z": "6edcf90890f75bd7",
        "name": "CSV",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 280,
        "wires": []
    },
    {
        "id": "fefdd1c7010fd440",
        "type": "mqtt in",
        "z": "6edcf90890f75bd7",
        "name": "Local",
        "topic": "car/proximidade",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "427f6ba8812c7c25",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 280,
        "wires": [
            [
                "dba8535a8c30ea01",
                "f10c4f0fce7cf0bf"
            ]
        ]
    },
    {
        "id": "dba8535a8c30ea01",
        "type": "debug",
        "z": "6edcf90890f75bd7",
        "name": "ENTRADA MQTT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 160,
        "wires": []
    },
    {
        "id": "4c06d23510f4bf59",
        "type": "debug",
        "z": "6edcf90890f75bd7",
        "name": "SAÍDA FUNCTION",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 220,
        "wires": []
    },
    {
        "id": "5b86fea96e422289",
        "type": "postgresql",
        "z": "6edcf90890f75bd7",
        "name": "",
        "query": "{{{msg.topic}}}",
        "postgreSQLConfig": "d706faebb51c379a",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 610,
        "y": 280,
        "wires": [
            [
                "751857f7ca93f999"
            ]
        ]
    },
    {
        "id": "f10c4f0fce7cf0bf",
        "type": "function",
        "z": "6edcf90890f75bd7",
        "name": "function 2",
        "func": "let dados = msg.payload;\nlet colunas = Object.keys(dados);\nlet tamanho = Object.values(dados)[0].length;\n\nfunction formatValor(val) {\n    if (typeof val === 'string') {\n        // Escapa aspas simples dentro do texto e envolve em aspas simples\n        return `'${val.replace(/'/g, \"''\")}'`;\n    }\n    if (val === null || val === undefined) {\n        return 'NULL';\n    }\n    return val;\n}\n\nlet linhas = [];\nfor (let i = 0; i < tamanho; i++) {\n    let valoresLinha = colunas.map(c => formatValor(dados[c][i]));\n    linhas.push(`(${valoresLinha.join(\", \")})`);\n}\n\nmsg.topic = `INSERT INTO \"sistema_veicular_sensor\" (${colunas.map(c => `\"${c}\"`).join(\", \")}) VALUES ${linhas.join(\", \")};`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 280,
        "wires": [
            [
                "4c06d23510f4bf59",
                "5b86fea96e422289"
            ]
        ]
    },
    {
        "id": "427f6ba8812c7c25",
        "type": "mqtt-broker",
        "name": "porta 1884",
        "broker": "192.168.0.38",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d706faebb51c379a",
        "type": "postgreSQLConfig",
        "name": "dbConnection",
        "host": "172.27.132.160",
        "hostFieldType": "str",
        "port": "8812",
        "portFieldType": "num",
        "database": "sistema_veicular_sensor",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "admin",
        "userFieldType": "str",
        "password": "quest",
        "passwordFieldType": "str"
    }
]