node-red/temperatura.json
[
    {
        "id": "73793127065f964e",
        "type": "tab",
        "label": "Temperatura",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a6cbe998e498ddca",
        "type": "debug",
        "z": "73793127065f964e",
        "name": "CSV",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 220,
        "wires": []
    },
    {
        "id": "b9c36433b486fc53",
        "type": "mqtt in",
        "z": "73793127065f964e",
        "name": "Local",
        "topic": "car/temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "427f6ba8812c7c25",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 50,
        "y": 220,
        "wires": [
            [
                "47532fb60da29d4f",
                "7f54e34cdb74ba5a"
            ]
        ]
    },
    {
        "id": "7f54e34cdb74ba5a",
        "type": "function",
        "z": "73793127065f964e",
        "name": "function 3",
        "func": "let dados = msg.payload;\nlet colunas = Object.keys(dados);\nlet tamanho = Object.values(dados)[0].length;\n\nfunction formatValor(val) {\n    if (typeof val === 'string') {\n        // Escapa aspas simples dentro do texto e envolve em aspas simples\n        return `'${val.replace(/'/g, \"''\")}'`;\n    }\n    if (val === null || val === undefined) {\n        return 'NULL';\n    }\n    return val;\n}\n\nlet linhas = [];\nfor (let i = 0; i < tamanho; i++) {\n    let valoresLinha = colunas.map(c => formatValor(dados[c][i]));\n    linhas.push(`(${valoresLinha.join(\", \")})`);\n}\n\nmsg.topic = `INSERT INTO \"sistema_veicular_temperatura\" (${colunas.map(c => `\"${c}\"`).join(\", \")}) VALUES ${linhas.join(\", \")};`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 220,
        "wires": [
            [
                "75af9aa52b0224e7",
                "c7ae9fb66ac129f8"
            ]
        ]
    },
    {
        "id": "47532fb60da29d4f",
        "type": "debug",
        "z": "73793127065f964e",
        "name": "ENTRADA MQTT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 100,
        "wires": []
    },
    {
        "id": "75af9aa52b0224e7",
        "type": "debug",
        "z": "73793127065f964e",
        "name": "SAÍDA FUNCTION",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 160,
        "wires": []
    },
    {
        "id": "c7ae9fb66ac129f8",
        "type": "postgresql",
        "z": "73793127065f964e",
        "name": "",
        "query": "{{{msg.topic}}}",
        "postgreSQLConfig": "abcc4733172c05cb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 510,
        "y": 220,
        "wires": [
            [
                "a6cbe998e498ddca"
            ]
        ]
    },
    {
        "id": "427f6ba8812c7c25",
        "type": "mqtt-broker",
        "name": "porta 1884",
        "broker": "192.168.0.38",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "abcc4733172c05cb",
        "type": "postgreSQLConfig",
        "name": "sensor",
        "host": "172.27.132.160",
        "hostFieldType": "str",
        "port": "8812",
        "portFieldType": "num",
        "database": "sistema_veicular_sensor",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "admin",
        "userFieldType": "str",
        "password": "quest",
        "passwordFieldType": "str"
    }
]